body {background-color: #c9daf8ff;}   
   
h1 {
    color: black;
}
p {
    column-count: 2;
    column-gap: 60px;
    font-size: 14px;
}
form{
    font-size: 14px;
}
footer{
background-color: rgb(184, 184, 214);
text-align: center;
}
header{
    position: relative;
    background-color: rgb(184, 184, 214);
    display: inline-block;
}
Nav{
    position: relative;
    background-color: rgb(184, 184, 214);
}
p{
    background-color: rgb(184, 184, 214);
    display: inline-block;
    position: relative;
    text-align: center;
    border: 5px solid;
    margin-left: 5%;
    margin-right: 5%;

}
table{
    background-color: rgb(184, 184, 214);
    text-align: center;
    border: 5px solid;
    margin-left: 5%;
    margin-right: 5%;

}
table, th, td{
    border: 1px solid black;
    text-align: center;
}
aside{
    float: right;
    width: 30%;
    background: #ccc;
    text-align: center;
}
.Feedback{
    border: solid;
    width: 100%;
    text-align: center;

}
.burger{
    text-align: center;
    
}